.myFood-header {
	background-color: forestgreen;
}

.h1 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding: 20px;
	color: white;
}

#search-input {
	width: max-content;
	margin-bottom: 20px;
}
.search-button {
	background-color: #e3fbe3;
}

#save-button {
	/* background-color: #0197f6; */
	background-color: #58b458;
	color: white;
	width: max-content;
	margin-left: 10px;
	margin-bottom: 20px;
}

#submit-button {
	/* background-color: royalblue; */
	background-color: #58b458; /* Keeping to the theme */
	color: white;
	width: max-content;
}
#submit-button:hover {
}

#cancel-button {
	background-color: #a3a3a3;
	color: white;
	width: max-content;
}

.user-action {
	display: flex;
	justify-content: right;
	margin-bottom: 30px;
}

.meal-selection-banner {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px;
	border-style: groove;
	background-color: #e3fbe3;
}
#meal-background-image {
	width: 40%;
}
.meal-banner {
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 60%;
	gap: 20px;
}
.my-4 {
	margin-bottom: 1.5rem !important;
	border: 1px solid #0000001a;
	width: 90%;
}
#my-meal-banner {
	font-size: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.jumbotron {
	background-color: #e3fbe3;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 30px;
}
.row {
	justify-content: center;
}
.btn,
.kitchen-search {
	border-radius: 0.25rem !important;
}

.category-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.kitchen-sec {
	justify-content: flex-start;
}

.kitchen-search {
	border: 2px solid #a3a3a3;
	padding: 0 10px;
	transition: 500ms;
	outline: none;
}
.kitchen-search:focus {
	border: 2px solid #58b458;
}

.search-button:hover {
	box-shadow: 3px 3px #397639;
}
#cancel-button:hover {
	box-shadow: 3px 3px #797979;
}

.user-action > span {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}
