.myFood-header {
    background-color: forestgreen;
}

.h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    color: white;
}

#search-input {
    width: max-content;
    margin-bottom: 20px;
}

#save-button {
    background-color: #0197f6;
    color: white;
    width:max-content;
    margin-left: 10px;
    margin-bottom: 20px;
}

#submit-button {
    background-color: royalblue;
    color: white;
    width:max-content;
    margin-bottom: 20px;
}

#cancel-button {
    background-color: grey;
    color: white;
    width:max-content;
    margin-bottom: 20px;

}

.user-action{
    display: flex;
    justify-content: right;
    padding-top: 70px;
}

.meal-selection-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px;
    border-style: groove;
    background-color: #e3fbe3;
}

.jumbotron {
    background-color: #e3fbe3;
}
